@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth !important;
}

:root {
	--background: #000000;
	--foreground: #ffffff;
	--purple: #995ee2ba;
	--purple-full: #995ee2;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-inter);
	--font-mono: var(--font-inter-tight);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000000;
		--foreground: #ffffff;
		--purple: #995ee2ba;
		--purple-full: #995ee2;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Inter, Helvetica, sans-serif;
}
